*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* navbar */
.navbar {
    height: 62px;
    width: 100vw;
    border-bottom: 2.2px solid #75B5E0;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: #2d3436;
    color: #FFFFFF;
}
h1{
    font-size: 1.6em;
    font-weight: 800;
    background-color: #2d3436;
}
.nav-options{
    padding: 0px 15px;
    flex-wrap: wrap;
    background-color: #2d3436;
}
nav{
    background-color: #2d3436;
}
nav a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 550;
    margin-left: 50px;
    color: #FFFFFF; 
    background-color: #2d3436;
}
.nav-search{
    display: flex;
    align-items: center;
    background-color: #2d3436;
}
.nav-search input{
    font-weight: 600;
    font-size: 1em;
    height: 32px;
    width: 350px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    padding: 0px 0px 0px 5px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 25px;
    padding: 0 5px 0 5px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ff9900;
}
.cart{
    margin-left: 25px;
    color: #FFFFFF;
    height: 32px;
    width: 26px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

/* main */
main{
    margin: 110px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDFDFD;
}
.outer-box{
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    width: 96vw;
    color: #1a252f;
}
.left-box{
    height: 65%;
    width: 20%;
    background-color: #F5F7FA;
    padding: 0px 17px 0px 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #D6DEE4;
    border-radius: 5px;
    color: #2c3e50;
}
.call-us-message{
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 0px;
}
.call-logo{
    display: inline-block;
    background-color: #FF6F61;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.5rem;
}
.call-us h4{
    display: inline-block;
    font-size: 1.1rem;
    padding: 0px 0px 0px 9px;
}
.call-us p{
    margin: 0px 0px 6px 0px;
    font-size: 1rem;
}
.line-between{
    height: 0px;
    width: 90%;
    border: 0.1rem solid #2C3E50;
}
.email-us-message{
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 0px;
}
.email-logo{
    display: inline-block;
    background-color: #FF6F61;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.5rem;
}
.email-us h4{
    display: inline-block;
    font-size: 1.1rem;
    padding: 0px 0px 0px 9px;
}
.email-us p{
    margin: 0px 0px 6px 0px;
    font-size: 1rem;
}
.right-box{
    height: 100%;
    width: 65%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F5F7FA;
    border: 1px solid #d6dee4;
    color: #2C3E50;
    border-radius: 5px;
}
.up-boxes{
    display: flex;
    justify-content: space-evenly;
}
.up-boxes input{
    height: 40px;
    width: 300px;
    padding: 2px 5px 2px 5px;
    font-size: 1rem;
    font-weight: 550;
    background-color: #FFFFFF;
    border-color: #2C3E50;
    border-radius: 5px;
}
.name input{
    width: 260px;
}
.phone-no input{
    width: 250px;
}
.below-box{
    display: flex;
    justify-content: center;
}
.below-box input{
    height: 400px;
    width: 880px;
    padding: 0px 10px 4px 10px;
    font-size: 1rem;
    font-weight: 550;
    background-color: #ffffff;
    border-color: #2C3E50;
    border-radius: 5px;
}
.send-message button{
    background-color: #FF6F61;
    color: #FFFFFF;
    font-weight: 550;
    height: 43px;
    width: 100px;
    border-radius: 20px;
    border: none;
    margin: 0px 0px 0px 830px; 
}

/* Footer */
.footer-outer{
    background-color: #1E272E;
    color: #BDC3C7;
    /* position: relative;
    bottom: 0px; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.footer-inner{
    display: flex;
    justify-content: space-around;
    padding: 50px 10px 40px 10px;
}
.footer-1 h1{
    font-size: 1.6em;
    padding-bottom: 25px;
    background-color: #1E272E;
    font-weight: 600;
}
.footer-1 h6{
    font-size: 1.3em;
    padding-bottom: 25px;
    font-weight: 550;
}
.footer-1 p{
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: 400;
}
.footer-1 input{
    border-radius: 3px;
    height: 10%;
    width: 70%;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 20px 0px;
    font-weight: 550;
}
.footer-inner h3{
    font-size: 1.2em;
    font-weight: 550;
    margin-bottom: 20px;
}
.footer-inner a{
    margin-left: 0px;
    background-color: #1E272E;
    color: #BDC3C7;
    font-weight: 500;
    text-decoration: none;
}
.footer-inner li{
    list-style: none;
    padding-bottom: 15px;
}
.footer-4 i{
    font-size: 1.8em;
    margin-right: 10px;    
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.copyright p{
    padding-left: 3px;
}